asgiref
beautifulsoup4
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-bootstrap4
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
Markdown
mysql-connector-python
Pillow
pipenv
platformdirs
protobuf
psycopg2
psycopg2-binary
PyExecJS
pytz
setuptools
six
soupsieve
sqlparse
typing_extensions
tzdata
virtualenv